div{
    width: 800px;
    height: 946px;
    background-color: rgba(61, 23, 28, 0.225);
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

label, input{
    margin-top: 15px;
    margin-bottom: -12px;
}

label{
    font-size: 28px;
    margin-right: 10px;
}

input{
    width: 300px;
    height: 40px;
}

input[name="email"]{
    border: 1px solid yellow;
    background-color: rgba(230, 191, 18, 0.436);
}

input[name="password"]{
    border: 1px solid rgb(255, 0, 119);
    background-color: rgba(181, 18, 230, 0.436);
    margin-right: 0.8%;
}

input[name="password_another"]{
    border: 1px solid rgb(255, 0, 119);
    background-color: rgba(181, 18, 230, 0.436);
    margin-right: 12%;
}

input[name="personal"]{
    border: 1px solid yellow;
    background-color: rgba(230, 191, 18, 0.436);
}

input[name="fname"]{
    border: 1px solid yellow;
    background-color: rgba(230, 191, 18, 0.436);
    margin-right: -5%;
}

input[name="lname"]{
    border: 1px solid yellow;
    background-color: rgba(230, 191, 18, 0.436);
    margin-right: 2%;
}


input[type="radio"]{
    height: 18px;
    margin-right: -16%;
}

label[for="radio"]{
    margin-left: -4%;
} 

input[name="fradio"]{
    margin-left: -15%;
}

input[name="lradio"]{
    margin-left: -15%;
}

select{
    width: 300px;
    height: 40px;
    font-size:20px;
    border: 1px solid rgb(0, 60, 255);
    background-color: rgba(18, 74, 230, 0.436);
    margin-top: 15px;
    margin-bottom: -12px;
    margin-right: -2%;
}



textarea{
    width: 300px;
    border: 1px solid rgb(0, 255, 85);
    background-color: rgba(18, 230, 18, 0.436);
    margin-top: 15px;
    margin-bottom: -12px;
    margin-right: 2.5%;
}

input[type="checkbox"]{
    height: 18px;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: -12px;
    margin-right: -16%;
    margin-left: -17%;
}


label[for="checkbox1"]{
    font-size: 20px;
}

label[for="checkbox2"]{
    font-size: 20px;
}

label[for="checkbox3"]{
    font-size: 20px;
}

input[name="checkbox2"]{
    margin-left: -2%;
}

input[name="checkbox3"]{
    margin-left: -9%;
}

button{
    margin: 25px 5px 0px ;
}

button[name="submit"]{
    width: 120px;
    height: 20px;
    border: 1px solid rgb(72, 255, 0);
    background-color: rgba(18, 230, 106, 0.436);
}

button[name="undo"]{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(230, 18, 18, 0.436);
}
