body{
    background-color: #7ABCE3;
    font-family: sans-serif;
}
.wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 43vw 43vw 12vw;
    grid-template-rows: 248px 498px 498px;
}
.circle{
    width:50px;
    height:50px;
    line-height: 40px;
    padding-top:10px;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
    font-size: 12px;
    color: #000000;
    border-radius:50%;
    position:fixed;
    left: 95%;
    background-color: #fcfcfc;
    text-decoration: none;
}
.circle:hover {
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    border-radius: 30px;
    left: 85%;
}
.circle>a {
    text-decoration:none;
    color: black;
}
.circle:hover:after {
    content:" US ON TELEGRAM";
}
.header{
    border:3px solid white;
    grid-column:1/4;
    background-color: #293075;
    border-radius: 15px;
    text-align: center;
}
.header span{
    font-family: sans-serif;
    line-height: 3.8em;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px red, -5px -5px #7ABCE3;
}
.header span::before{
    content: "the_";
}
.header span::after{
    content: "_site";
}
img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.content{
    grid-column:1/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 43vw 43vw;
    grid-template-rows: 498px 498px;
    background-color: white;
    border-radius: 15px;
}
.p1, .p2, .p3, .p4{
    background-color: white;
    border-radius: 15px;
    margin: 3px;
}
.p1:hover img, .p2:hover img, .p3:hover img, .p4:hover img{
    position: absolute;
    transform: scale(0.6);
    top: 150px;
    left: -50px;
}
.vt {
    grid-row: 2/4;
    grid-column: 3/4;
    background-color: white;
    border-radius: 15px;
    border: 3px solid white;
    text-align: left;
    box-shadow: inset 40px 40px 40px orange;
    writing-mode: tb-rl;
    font-size: 30px;
    line-height: 5em;
    color: orange;
    font-family: sans-serif;
    font-weight: bold;
    overflow: hidden;
}
.vt span{
    margin-top: 60px;
}
.texContent{
    display: grid;
    grid-template-columns: 32.5vw 32.5vw 32.5vw;
    grid-template-rows: 320px;
    margin-top: 5px;
}
.texContent div{
    overflow: scroll;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
}
footer{
    width: 100%;
    background-color: #293075;
    border:3px solid white;
    color: white;
    margin-top: 2px;
    border-radius: 15px;
}
.contentfoot{
    margin: 0 auto;
    width: 420px;
    text-align: center;
}
.contentfoot h2{
    margin-top: 3px;
    font-family: sans-serif;
    font-size: 50px;
}
.nav{
    font-family: sans-serif;
    list-style: none;
    display: flex;
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: 29px;
}
ul li{
    display: inline-block;
}
ul li:hover a{
    color: darkred;
}
a{
    text-decoration: none;
    color: white;
}
label{
    font-size: 12px;
    font-style: italic;
    width: 200px;
    height: 30px;
    padding: 5px 10px;
}
input{
    width:250px;
    height:20px;
}
.end{
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: none;
}
@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 100vw;
        grid-template-rows: 248px 498px 498px 498px 498px 178px;
   }
    .content {
        grid-column: 1/2;
        grid-row: 2/6;
        grid-template-columns: 100vw;
        grid-template-rows: 498px;
   }
    .p1:hover img, .p2:hover img, .p3:hover img, .p4:hover img {
        position: relative;
        transform: scale(0.9);
        top: 7px;
        left: 0.03vw;
   }
    .vt {
        grid-row: 6/7;
        grid-column: 1/2;
        writing-mode: lr-tb;
        font-size: 2.7em;
        text-align: center;
        padding-top: 40px;
        line-height: normal;
   }
    .texContent {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 298px 298px 298px;
        margin-top: 5px;
   }
    .texContent div {
        margin: 4px 0;
   }
}