
  .parent {
    width: 1280px;
    height: 946px;
    background-image: url(/png/0.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid red;
    margin: auto;
  }
  

  
  .one {
    background-image:url(/png/1.png);
    position: relative;
    right: 0%;
    top: 49%;
    z-index: 2;
  }
 
  .two {
    background-image:url(/png/2.png);
    position: relative;
    top:40%;
    left: 30%;
  }
  
  .three {
    background-image:url(/png/3.png);
    position: relative;
    top:36%;
    right: 10%;
  }

  .four{
    background-image:url(/png/4.png);
      position: relative;
      top: 7%;
      left: 71%;
    }

    .five{
        background-image:url(/png/5.png);
        bottom: 25%;
        left: 30%;
        position: absolute;
        z-index: 1;
    }
  
    .six{
    background-image:url(/png/6.png);
    position: relative;
    bottom: 43%;
    }   

    

  
  
