

    #nav {
    list-style:none inside;
    margin:0;
    padding:0;
    display: inline;
    text-align:center;
    }
    #nav li {
    height: 50px;
    display:block;
    position:relative;
    float:left;
    background: #000000; /* menu background color */
    border-bottom: 4px solid rgb(40, 86, 185);
    }
    #nav li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:200px; /* this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color:#ffffff; /* list item font color */
    }
    #nav li li a {font-size:80%;} /* smaller font size for sub menu items */
    #nav li:hover {background:rgb(40, 86, 185);} /* highlights current hovered list item and the parent list items when hovering over sub menues */
    #nav ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
    }
    #nav li:hover ul ul {display:none;} /* hides sub-sublists */
    #nav li:hover ul {display:block;} /* shows sublist on hover */
    #nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-5px; /* aligns top of sub menu with top of list item */
    }

        a{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
            text-decoration:none;
        }
