@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1570px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0083de;
    padding: 70px 0;
}


.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-second-col{
	width: 150px;
	padding: 2 260px;
}

.footer-second-col h4{
	font-size: 23px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 500;
	position: absolute;	
}

.social{
	margin-left: 80%;
	margin-top: 30px;
	float:top;
}
  .social a{
	  margin: 10px;
	font-size: 20px;
	color: #F4FFFE;
	border-color: white;
  }

.footer-second-col-p{
	margin-top: 10px;
	font-size: 15px;
	color: #ffffff;
	padding-inline-start: -5px;
	font-weight: 500;
	position: relative;	
}

.footer-col h1{
	font-size: 65px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 500;
	position: relative;
}

.footer-col h4{
	font-size: 23px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 500;
	position: relative;	
}

.footer-col p{
	font-size: 20px;
	color: #ffffff;
	padding-inline-start: 5px;
	font-weight: 500;
	position: relative;	
}

.footer-col .on-top{
	padding-top: 30px;
}

.footer-col #email{
	margin-top: 30px;
	width: 20em;
	height: 4em;
	background-color:#0083de;
	border: 2px solid white;
	border-radius: 50px;	
	color: white;
	font-size: medium;
	font-weight: 100;
	float: left;
	box-sizing: border-box;
    padding-left: 20px;
}



.footer-col #submit{
	box-sizing: border-box;
	margin-top: 10px;
	width: 10em;
	height: 4em;
	background-color:white;
	border: 2px solid white;
	border-radius: 50px;	
	color: black;
	box-sizing: border-box;	
}

hr{
	color: white;
	width: 1470px;
	margin-bottom: 50px;
}





