ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    width: 800px;
}

li {
    padding: 0.5em 2em 0.5em 2em;
    display: inline-block;
    border: 2px solid grey;
}

a{
    color: #877160;
    text-decoration:none;
    padding: 50px 0 2050px;
    margin-bottom: 500%;
}

li:hover{
    background-color: #607788;
    color: white;
}

a:hover{
    color: white;
}