body>div>div{
    margin-bottom:20px;
}
.firmenu{
    float:right;
    display: flex;
    flex-direction:row;
    width:100%;
    border:2px solid blue;
    background-color: #2696e8;
}
.first {
    color: white;
    padding:10px;
    width: 100%;
    text-align: center;
}
.first:hover {
    color:#2696e8;
    background-color: white;
}
.secmenu {
    float:right;
    display: flex;
    flex-direction:row-reverse;
    width:100%;
    border:2px solid blue;
    background-color: #2696e8;
}
.second{
    color: white;
    padding:10px;
    width: 100%;
    text-align: center;
}
.second:hover {
    color:#2696e8;
    background-color: white;
}
.thimenu {
    display: flex;
    justify-content: center;
    flex-direction:row;
    width:100%;
    border:2px solid blue;
    background-color: #2696e8;
}
.third {
    color: white;
    padding:10px;
}
.third:hover {
    color: #2696e8;
    background-color: white;
}
.foumenu {
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-direction:row;
    width:100%;
    text-align:center;
    border:2px solid blue;
    background-color: #2696e8;
    height: 100px;
}
.fourth {
    color: white;
    padding:10px;
    border:1.5px solid blue;
}
.fourth:hover {
    color: #2696e8;
    background-color: white;
}
.fifmenu {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:row;
    width:100%;
    text-align:center;
    border:2px solid blue;
    background-color: #2696e8;
    height: 100px;
}
.fifth {
    color: white;
    padding:10px;
    border:1.5px solid blue;
    max-width: 19%;
}
.fifth:nth-last-child(2){
    height:80px;
    width:80px;
}
.fifth:hover {
    color: #2696e8;
    background-color: white;
}
.sixmenu {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    flex-direction:row;
    width:100%;
    text-align:center;
    border:2px solid blue;
    background-color: #2696e8;
}
.sixth {
    color: white;
    padding: 10px;
    border: 1.5px solid blue;
    max-width: 19%;
    font-size: 20px;
}
sixth:nth-last-child(2){
    height:80px;
    width:105px;
}
.sixth:hover {
    color: #2696e8;
    background-color: white;
}
.sevmenu {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row-reverse;
    width:100%;
    text-align:center;
    border:2px solid blue;
    background-color: #2696e8;
}
.seventh {
    color: white;
    padding:10px;
    border:1.5px solid blue;
    max-width: 19%;
    font-size:20px;
}
.seventh:nth-last-child(2){
    height:80px;
    width:105px;
}
.seventh:hover {
    color: #2696e8;
    background-color: white;
}
.eigmenu{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    text-align:center;
    border:2px solid blue;
    background-color: #2696e8;
}
.eighth {
    color: white;
    font-size:30px;
    padding: 10px;
}
.eighth:hover {
    color: #2696e8;
    background-color: white;
}
.ninmenu {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    width:80%;
    background-color: #2696e8;
    border:2px solid blue;
}
.ninth {
    color: white;
    padding:10px;
    border:2px solid blue;
    font-size:20px;
    max-width:100%;
}
.ninth:hover {
    color: #2696e8;
    background-color: white;
}
